<h2>Submit a Maintenance Request</h2>

<div *ngIf="successMessage" class="success">
  {{ successMessage }}
</div>

<form #form="ngForm" (ngSubmit)="submitRequest()" novalidate>
  <label>
    Tenant Name:
    <input
      type="text"
      name="tenantName"
      [(ngModel)]="formData.tenantName"
      required
    />
  </label>
  <div
    *ngIf="form.submitted && !form.controls['tenantName']?.valid"
    class="error"
  >
    Tenant name is required
  </div>

  <br /><br />

  <label>
    Issue Description:
    <textarea
      name="description"
      [(ngModel)]="formData.description"
      required
    ></textarea>
  </label>
  <div
    *ngIf="form.submitted && !form.controls['description']?.valid"
    class="error"
  >
    Issue description is required
  </div>
  <br /><br />

  <label>
    Urgency:
    <select name="urgency" [(ngModel)]="formData.urgency" required>
      <option value="" disabled selected>--Select--</option>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
  </label>
  <div *ngIf="form.submitted && !form.controls['urgency']?.valid" class="error">
    Please select an urgency level
  </div>
  <br /><br />

  <button type="submit" [disabled]="!form.valid">
    {{ isEditMode ? "Update Request" : "Submit" }}
    <!-- disables the submit button if the form is invalid -->
  </button>
</form>

<hr />
<h3>Submitted Requests</h3>
<input
  type="text"
  [(ngModel)]="searchTerm"
  placeholder="Search by tenant or urgency..."
  class="search-input"
/>

<ul>
  <li *ngFor="let request of filteredRequests(); let i = index">
    <!-- for every request in requests array, render this block of HTML -->
    <strong>{{ request.tenantName }}</strong> ({{ request.urgency }}) -
    <em> Status:</em> {{ request.status }} <br />
    {{ request.description }}
    <br />
    <small
      ><em>Submitted on:</em> {{ request.createdAt | date : "medium" }}</small
    >
    <br />
    <!-- Where i is the index capturing the position of each request in the array -->
    <button (click)="deleteRequest(i)">Delete</button>
    <button (click)="editRequest(i)">Edit</button>

    <select
      name="status{{ i }}"
      [(ngModel)]="request.status"
      (change)="updateStatus(i)"
      title="Update status for {{ request.tenantName }}"
    >
      <option value="New">New</option>
      <option value="In Progress">In Progress</option>
      <option value="Resolved">Resolved</option>
    </select>
  </li>
</ul>
<!-- This will display the list of requests submitted by the user. Each request will have a delete and edit button. -->
<button (click)="clearAllRequests()" *ngIf="requests.length > 0">
  Clear All Requests
</button>
<button (click)="exportToJSON()">Export Requests to JSON</button>
